<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="preconnect" href="https://challenges.cloudflare.com" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">License</a>
    <hr>
    {{ content }}
    <div class="cf-turnstile" data-sitekey="0x4AAAAAADGCgp75Zkdjpo-d"></div>
    <hr>
    <div align="center">
      <a href="https://www.qadrix.com">By QADRIX LLC</a>
    </div>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </body>
</html>
